$tablet: 730px;
$desktop: 930px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.wrapper {
  margin: 0 1em;

  @include desktop {
    flex: 1;
    margin: 0 3.5em;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .row {
      display: flex;
      flex-direction: row
    }

    .column {
      justify-content: center;
      display: flex;
      text-align: end;
      flex-direction: column;
      p {
        margin: 0.3em;
        font-size: 1rem;
      }
    }
  }

  app-true-false-question {
    margin: 0 auto;
  }
}
