<div class="wrapper" *ngIf="questions">
  <header>
    <h1 class="underline">In Quiz</h1>
    <div class="column">
      <div class="row">
        <img src="/assets/clock-icon.svg" alt="Clock: ">
        <p>{{getReadableTime(time)}}</p>
      </div>
      <p>{{questionIndex + 1}}/{{questions.length}}</p>
    </div>
  </header>

  <ng-container *ngIf="getSelectedQuestionType() === allQuestionTypes.ShortAnswer">
    <app-short-answer
      (answeredQuestion)="answerChanged($event)" [question]="questions[questionIndex]">
    </app-short-answer>
  </ng-container>

  <ng-container *ngIf="getSelectedQuestionType() === allQuestionTypes.McPickBox">
    <app-mc-pick-box
      (answeredQuestion)="answerChanged($event)" [question]="questions[questionIndex]"></app-mc-pick-box>
  </ng-container>

  <ng-container *ngIf="getSelectedQuestionType() === allQuestionTypes.McDropdown">
    <app-mc-dropdown
      (answeredQuestion)="answerChanged($event)" [question]="questions[questionIndex]"></app-mc-dropdown>
  </ng-container>

  <ng-container *ngIf="getSelectedQuestionType() === allQuestionTypes.TrueFalse">
    <app-true-false-question
      (answeredQuestion)="answerChanged($event)"
      [question]="questions[questionIndex]"></app-true-false-question>
  </ng-container>


  <div class="button-container">
    <button [disabled]="!canAdvance" (click)="advanceQuestion()">Next</button>
    <p *ngIf="!canAdvance" class="input-error button-error">Please answer question</p>
  </div>
</div>

<div *ngIf="!questions">
  <app-spinner></app-spinner>
</div>
