$tablet: 730px;
$desktop: 930px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.wrapper {
  margin: 0 1em 1em 1em;

  @include desktop {
    flex: 1;
    margin: 0 3.5em;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .row {
      display: flex;
      flex-direction: row
    }

    .column {
      justify-content: center;
      display: flex;
      text-align: end;
      flex-direction: column;
      p {
        margin: 0.3em;
        font-size: 1rem;
      }
    }
  }

  .button-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 1em;

    .button-error {
      text-align: center;
      margin: .3em auto 0;
    }


    button {
      width: min-content;
      color: white;
      padding: .2em 3em;
      background-color: #3D5AF1;
      font-size: 4rem;
      border: none;
      border-radius: 15px;
      margin: 0 auto;
    }

    button[disabled] {
      background-color: #a3b0fa;
    }

    button:focus {
      outline: none;
    }
  }

  app-true-false-question {
    margin: 0 auto;
  }
}
