$desktop: 930px;
@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  h2 {
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;

    @include mobile {
      font-size: 2rem;
    }

  }

  select {
    outline: none;
    border: none;
    background-color: #CEFAFF;
    border-radius: 15px;
    padding: .5em;
    font-size: 1.5rem;

    @include mobile {
      width: 80%;
      margin: 0 auto;
    }
    option {
      background-color: #E2F3F5;
      font-size: 1.5rem;

      @include mobile {
        font-size: .8rem;
      }
    }
  }
}
