$desktop: 930px;
@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  h2 {
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;

    @include mobile {
      font-size: 2rem;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;

    @include mobile {
      flex-flow: column;
    }

    li {
      cursor: default;
      background-color: #B8E7EC;
      border-radius: 10px;
      padding: 1em;
      font-weight: bold;
      font-size: 2rem;
      margin: 0 .5em 0 .5em;

      @include mobile {
        margin-top: 1em;
      }
    }
  }
}
