$tablet: 730px;
$desktop: 930px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.wrapper {
  display: block;
  margin: 0 1em 1em 1em;

  @include desktop {
    flex: 1;
    margin: 0 3.5em;
  }

  h3 {
    font-weight: normal;
    font-size: 2.8em;
  }

  ul {
    list-style: none;
    //padding: 0;
    display: block;
    background-color: #aee8f1;
    padding: 1em;
    border-radius: 10px;
    text-align: center;

    @include desktop {
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      justify-content: space-around;
      margin-top: 2.5em;
      display: grid;
      padding: 0;
      background-color: transparent;
      text-align: left;

    }

    li {
      margin-bottom: 1.5em;
      @include desktop {
        border-right: 1px solid rgb(124, 89, 148);
        padding-left: 3em;
        &:last-child {
          border: 0;
        }
      }

    }

    strong {
      font-size: 2.4em;
      font-weight: normal;
    }

    span {
      display: block;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: lighter;
    }
  }

  .center {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;

    .blue-background {
      background-image: url("/assets/background.svg");
      background-size: auto auto;
      background-repeat: no-repeat;

      button {
        font-size: 3.5em;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        border-radius: 10px;
        opacity: 1;
        padding: .2em;
        margin: .5em;
      }

      :focus {
        outline: 0;
      }
    }

  }


}
