<div class="wrapper">
  <h1 class="underline">Hi, {{user?.name}}</h1>

  <h3>Quick Stats:</h3>
  <div *ngIf="!isLoading">
    <ul class="stats">
      <li>
        <strong>Tests Taken</strong>
        <span>{{user.testsTaken}}</span>
      </li>

      <li>
        <strong>Average Score</strong>
        <span>{{user.testsTaken === 0 ? 0 : user.totalScores / user.testsTaken | number}}</span>
      </li>

      <li>
        <strong>Average Time</strong>
        <span>{{getAverageTime()}}</span>
      </li>
    </ul>
    <div class="center">
      <div class="blue-background">
        <button (click)="startQuiz()">Start Quiz</button>
      </div>
    </div>
  </div>
</div>


